# environment files
.env
.env.*
*.env
*.env.*
.env.local
.dev.vars          # Cloudflare Wrangler local dev vars

# keys/certs (just in case)
*.pem
*.key
.DS_Store
node_modules/
package-lock.json
src/config/constants.ts